{# empty Twig template #}
{% extends 'CorredoresRiojaBundle:ZonaCorredores:zonacorredores.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/corredoresrioja/css/formulario.css')}}" rel="stylesheet" media="all" type="text/css">
    <link href="{{ asset('bundles/corredoresrioja/css/entrada.css')}}" rel="stylesheet" media="all" type="text/css">
{% endblock %}
{% block selector %}
    {% if locale == 'es' %}
        <span>Espa침ol</span> &nbsp; | &nbsp;
        <a href="{{ path('mis_carreras.en') }}">English</a>
    {% elseif locale == 'en' %}
        <a href="{{ path('mis_carreras.es') }}">Espa침ol</a> &nbsp; | &nbsp;
        <span>English</span>
    {% endif %}
{% endblock %}
{% block content2 %}

      <p> Hola {{ corredor.nombre }}, a continuaci칩n se muestran las carreras en las que est치s inscrito
         y las carreras que has disputado. </p>
    
    <div class="clear"> </div>   
    <h1>Carreras por disputar</h1>
		<div class="centro"/>
		<ul>
			<li class="columna">
				<ul>

                                    {% for carrera in carrerasNoDisputadas %}
                                        <li class="celda">

                                            <div class="parteCelda">
                                                <img src="{{asset('bundles/corredoresrioja/images/'~carrera.imagen )}}"/>
                                            </div>
                                            <div class="parteCelda2">
                                                <h3><a href="{{ path('corredores_de_la_rioja_corredores_de_la_rioja_carrerasslug', {'slug':carrera.slug}) }}">{{ carrera.nombre }}</a></h3>
                                                <p>2018/01/01 12:01</p>
                                                <div style="float:right; padding:10px 5px">
                                                    <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                                                       href="/es/corredores/inscribir/matutrail" ><span>Desapuntarse</span> </a>
                                                </div>
                                            </div>    
                                        </li>
                                       
                                    {% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	<div class="clear"></div>   
	<h1>Carreras disputadas</h1>
	<div class="centro"/>
	<ul>
		<li class="columna">
			<ul>
				{% for carrera in carrerasDisputadas %}
				<li class="celda">
                                 
					<div class="parteCelda">
						<img src="{{asset('bundles/corredoresrioja/images/'~carrera.imagen )}}"/>
					</div>
					<div class="parteCelda2">
						<h3><a href="{{ path('corredores_de_la_rioja_corredores_de_la_rioja_carrerasslug', {'slug':carrera.slug}) }}">{{ carrera.nombre }}</a></h3>
						<p>2018/01/01 12:01</p>
						<div style="float:right; padding:10px 5px">
							<a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
							   href="/es/corredores/inscribir/matutrail" ><span>Clasificaciones</span> </a>
						</div>
					</div>    
				</li>
                               {% endfor %}
			</ul>
		</li>
	</ul>


{% endblock %}